In [3]:
l=["krsna", 'radha', 3 , [45,"s",4]]

for i in l:
    if type(i)==list :
        print("this element" , i , "is a list")
    else:
        print("this element" , i ,  "is not a list")

this element krsna is not a list
this element radha is not a list
this element 3 is not a list
this element [45, 's', 4] is a list

In [5]:
l=[2,3,4,5,6,7]
l.pop(0)
print(l)

[3, 4, 5, 6, 7]

In [7]:
l=[1,2,3,4,5,6,7,8]
l.reverse()
print(l)

[8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
l=[111,57,87,9,10000]
l.sort()
print(l)

[9, 57, 87, 111, 10000]

In [19]:
l=[2,3,4,5,6,7]

p=[5+2j , "radha"]
q= [8+2j , "caitnya"]

l.insert(1,p)
l.insert(2,q)
print(l)

[2, [(5+2j), 'radha'], [(8+2j), 'caitnya'], 3, 4, 5, 6, 7]

In [22]:
l= [2, [(5+2j), 'radha'], [(8+2j), 'caitnya'], 3, 4, 5, 6, 7]

In [24]:
l=[]

for i in range(5):
    print(i)

0
1
2
3
4