In [41]:
import pandas as pd
import numpy as np

In [42]:
df=pd.DataFrame(np.random.randint(3,6,(4,5)), index=['krsna', 'radha','caitnya','gaura'],columns=['a','b','c','d','e'])

In [43]:
df

         a  b  c  d  e
krsna    3  5  3  4  4
radha    3  5  5  4  4
caitnya  3  5  3  5  5
gaura    5  5  4  3  3

In [44]:
df.values[df.values>3]

array([5, 4, 4, 5, 5, 4, 4, 5, 5, 5, 5, 5, 4])

In [45]:
df.iloc[0:3]

         a  b  c  d  e
krsna    3  5  3  4  4
radha    3  5  5  4  4
caitnya  3  5  3  5  5

In [46]:
df.iloc[0:3]<5

            a      b      c      d      e
krsna    True  False   True   True   True
radha    True  False  False   True   True
caitnya  True  False   True  False  False

In [50]:

for i in df.columns:
    for j in df.index:
        if df.loc[j,i] >3:
            print(i,j,df.loc[j,i])

a gaura 5
b krsna 5
b radha 5
b caitnya 5
b gaura 5
c radha 5
c gaura 4
d krsna 4
d radha 4
d caitnya 5
e krsna 4
e radha 4
e caitnya 5