In [1]:
import pandas as pd

In [2]:

df=pd.read_csv(r'C:\Users\Snehja Srivastava\Downloads\Sorted by Subject Code.csv')

In [3]:
df.columns

Index(['Summer Course Registration (June 2023) - Sorted by Subject Code\n\n',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [4]:
df['Unnamed: 7']

0                          Branch
1                  BIO TECHNOLOGY
2                  BIO TECHNOLOGY
3                  BIO TECHNOLOGY
4                  BIO TECHNOLOGY
                  ...
1099    HUMANITIES AND MANAGEMENT
1100    HUMANITIES AND MANAGEMENT
1101    HUMANITIES AND MANAGEMENT
1102    HUMANITIES AND MANAGEMENT
1103    HUMANITIES AND MANAGEMENT
Name: Unnamed: 7, Length: 1104, dtype: object

In [5]:
type(df['Unnamed: 7'])

pandas.core.series.Series

In [6]:
df['Unnamed: 7' , 'Unnamed: 10'] # this will show error

KeyError: ('Unnamed: 7', 'Unnamed: 10')

In [7]:
df[['Unnamed: 7' , 'Unnamed: 10']]

                     Unnamed: 7    Unnamed: 10
0                        Branch  Current Grade
1                BIO TECHNOLOGY        U Grade
2                BIO TECHNOLOGY        U Grade
3                BIO TECHNOLOGY        U Grade
4                BIO TECHNOLOGY        U Grade
...                         ...            ...
1099  HUMANITIES AND MANAGEMENT        U Grade
1100  HUMANITIES AND MANAGEMENT        U Grade
1101  HUMANITIES AND MANAGEMENT        U Grade
1102  HUMANITIES AND MANAGEMENT        W Grade
1103  HUMANITIES AND MANAGEMENT        W Grade

[1104 rows x 2 columns]

In [8]:
len(df)

1104

In [13]:
df[['Unnamed: 7']].to_csv("Sorted by Subject Code.csv")